# Database connection string untuk Supabase (Transaction Pooler - port 6543)
# Contoh: postgresql://postgres.[YOUR-PROJECT-REF]:[YOUR-PASSWORD]@aws-0-[REGION].pooler.supabase.com:6543/postgres?pgbouncer=true
DATABASE_URL="postgresql://postgres:your-supabase-password@db.your-project.supabase.co:5432/postgres"

# Direct connection string untuk Prisma migrations (Session Pooler / Port 5432)
# Contoh: postgresql://postgres.[YOUR-PROJECT-REF]:[YOUR-PASSWORD]@aws-0-[REGION].pooler.supabase.com:5432/postgres
DIRECT_URL="postgresql://postgres:your-supabase-password@db.your-project.supabase.co:5432/postgres"

# Kunci Sandi Rahasia Admin (Admin Secret Passcode)

# URL Dasar Aplikasi
NEXT_PUBLIC_APP_URL="http://localhost:3000"
